.logo {

}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-button {
    
}

.navbar-links {
    
}

.navbar-btn {
    padding: 5px;
}