.splash-container {
    font-family: fantasy;
    padding-top: 20px;
    font-weight: bolder;
    justify-content: center;
    display: flex;
}

.splash-form {
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 13px;
}

.splash-form-title {
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
}

.splash-search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.splash-search-label {
    
}

.splash-search-title {
    
}

.splash-search-input {
    
}

.splash-dates-button {
    
}

.splash-search-title {
    
}

.splash-dates-placeholder {
    
}

.splash-guest-button {
    
}

.splash-guest-title {
    
}

.splash-guest-placeholder {

}

.splash-search-button {

}